#container {
    width: 1280px;
    height: 644px;
    position:relative;
}

canvas, #overlay {
    width: 1280px;
    height: 644px;
    position: absolute;
    top: 0;
    left: 0;
}

#overlay {
    /*background: url('edited-trees.png');*/
    z-index: 1000;
}
